:root{
    --blue: #0A2846;
    --red: #B82420;
}



*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
  font-family: "Prompt", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  
}

body{
    background: linear-gradient(to right, var(--red), var(--red)); /* Start with a single color */
    animation: gradientFill 6s forwards; /* Apply the fade-in and gradient fill animations */
    
}
.nav-bar{

    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: row;
}
.hero-section{
    position: relative;
    width: 100vw;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; /* Ensure the pseudo-element doesn't overflow */
}
.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/JM-Hero-Img-D.jpg');
    background-size: cover;
    opacity: 0; /* Start with the background hidden */
    animation: fadeIn 8s forwards; /* Apply the fade-in animation */
    z-index: -1; /* Ensure the background is behind the content */
}
.hero-h1{
    margin-top: 13rem;
    color: #fff;
    font-size: 60px;
    
}

.hero-h2{
    margin-top: -3rem;
    font-size: 30px;
    color: #fff;
    
   
}

@keyframes fadeIn {
    to {
      opacity: 1; /* End with the section fully visible */
    }
  }

@keyframes colorChange{
   0% { 
    color: #000;
   }

    80% {
    color: #fff;
   }
}

@keyframes gradientFill {
    0% {
        background: linear-gradient(to right, var(--red), var(--red)); /* Start with a single color */
    }
    100% {
        background: linear-gradient(to right, var(--red), var(--blue)); /* End with the full gradient */
    }
}




@media (max-width: 768px) {
    .hero-section{
        width: 100vw;
        background-image: url('img/JM-Hero-Img-M.jpg');
        height: 400px;
    }

    .hero-h1{
        margin-top: 5rem;
        color: #fff;
        font-size: 30px;
        animation: colorChange 6s;
    }
    
    .hero-h2{
        margin-top: -1rem;
        font-size: 30px;
        color: #fff;
        animation: colorChange 6s;
       
    }

}